<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.destiny.lodbase.security.mapper.RegisterMapper">

    <insert id="insertUser" parameterType="com.destiny.lodbase.security.pojo.User">

    </insert>

    <insert id="insertUserCommonRole">

    </insert>

</mapper>